.freeBoardListTableMobile {
    display: flex;
    padding: 30px 40px;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    align-self: stretch;
}

.boardTable {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}