.boardLayoutWrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.boardLayoutBody {
    display: flex;
    padding-top: clamp(80px, 7.8vw, 150px);
    padding-bottom: clamp(80px, 4.2vw, 80px);
    padding-left: clamp(80px, 15.6vw, 300px);
    padding-right: clamp(80px, 15.6vw, 300px);
    justify-content: center;
    align-items: flex-start;
    gap: 60px;
    align-self: stretch;
}