.boardLayoutWrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.boardLayoutBody {
    display: flex;
    padding-top: 60px;
    padding-bottom: 60px;
    padding-left: clamp(60px, 15.6vw, 250px);
    padding-right: clamp(60px, 15.6vw, 250px);
    justify-content: center;
    align-items: flex-start;
    gap: 60px;
    align-self: stretch;
}