.boardTableRow {
    display: flex;
    width: 100%;
    align-items: center;
    align-self: stretch;
}

.text {
    color: #7C7C7C;
    text-align: center;
    font-family: Pretendard;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.badge {
  display: inline-block;
  background: #c3c6cc;
  color: #fff;
  border-radius: 6px;
  font-size: 15px;
  font-weight: 600;
  padding: 6px 14px;
  margin-right: 12px;
  vertical-align: middle;
}

.id {
    display: flex;
    min-width: 80px;
    max-width: 100px;
    padding: 20px 10px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex: 1 0 0;
}

.title {
    display: flex;
    min-width: 150px;
    max-width: 800px;
    padding: 20px 10px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex: 1 0 0;
}

.likes {
    display: flex;
    width: 73px;
    min-width: 50px;
    max-width: 80px;
    padding: 20px;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.views {
    display: flex;
    width: 88px;
    min-width: 70px;
    max-width: 130px;
    padding: 20px;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.author {
    display: flex;
    width: 88px;
    min-width: 70px;
    max-width: 130px;
    padding: 20px 10px;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.createdAt {
    display: flex;
    width: 130px;
    min-width: 110px;
    max-width: 200px;
    padding: 20px 10px;
    justify-content: center;
    align-items: center;
    gap: 10px;
}