.boardTableHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
}

.headerLeft {
    display: flex;
    align-items: center;
    gap: 10px;
}

.headerRight {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
}

.btnBlue {
    display: flex;
    padding: 10px 15px;
    justify-content: center;
    align-items: center;
    gap: 10px;

    border-radius: 6px;
    border: none;
    background: var(--700, #2F97FF);

    color: #FFF;
    font-family: Pretendard;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.btnGray {
    display: flex;
    padding: 10px 15px;
    justify-content: center;
    align-items: center;
    gap: 10px;

    border-radius: 6px;
    border: none;
    background: #F4F4F4;

    color: #3E3E3E;
    font-family: Pretendard;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
