.commentHeader {
    display: flex;
    align-items: center;
    gap: 10px;
}

.profileImage {
    width: 60px;
    height: 60px;
    aspect-ratio: 1/1;

    border-radius: 10px;
    background: #F7F7F7;
}

.commentInfo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;
}

.commentAuthorTime {
    display: flex;
    align-items: center;
    gap: 5px;
}

.commentAuthor {
    color: #000;
    font-family: Pretendard;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.commentTime {
    color: #7C7C7C;
    font-family: Pretendard;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.commentContent {
    margin-bottom: 8px;
}