.container {
  display: flex;
  flex-direction: column;
  gap: 30px;
  flex: 1 0 0;
}

.title {
  align-self: stretch;

  color: #000;
  font-family: Pretendard;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.buttonContainer {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  gap: 10px;
}

.cancelButton {
  display: flex;
  padding: 8px 20px;
  justify-content: center;
  align-items: center;
  gap: 10px;

  border-radius: 6px;
  border: none;
  background: #E4E4E4;

  color: #8A8A8A;
  font-family: Pretendard;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.submitButton {
  display: flex;
  padding: 8px 20px;
  justify-content: center;
  align-items: center;
  gap: 10px;

  border-radius: 6px;
  border: none;
  background: #0080FF;

  color: #FFF;
  font-family: Pretendard;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}