.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
}

.button {
    display: flex;
    padding: 10px 15px;
    justify-content: center;
    align-items: center;
    gap: 10px;

    border-radius: 6px;
    border: none;
    cursor: pointer;
    background: #F4F4F4;
}