.desktopNavbar {
  display: flex;
  height: 78px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: clamp(60px, 15.6vw, 250px);
  padding-right: clamp(60px, 15.6vw, 250px);
  justify-content: space-between;
  align-items: center;
  flex-shrink: 0;
  align-self: stretch;
  border-bottom: 1px solid #F1F1F1;
  /* text styles */
  color: #3E3E3E;
  font-family: Pretendard;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.left {
  display: flex;
  align-items: center;
  gap: 24px;
  flex: 1 0 0;
  align-self: stretch;
  color: #0080FF;
}

.mid {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex: 1 0 0;
  align-self: stretch;
}

.midItemDrop {
  display: flex;
  min-width: 101px;
  height: 23px;
  padding: 0px 4px 0px 10px;
  align-items: center;
  gap: 6px;
}

.midItem {
  display: flex;
  min-width: 101px;
  height: 19px;
  padding: 0px 20px;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.right {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 24px;
  flex: 1 0 0;
  align-self: stretch;
}

.loginButton {
  display: flex;
  width: 97px;
  height: 19px;
  padding: 0px 20px;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.HeaderButton {
  /* Button styles */
  background: none;
  border: none;
  color: inherit;
  font-size: inherit;
  font-weight: inherit;
  cursor: pointer;
  outline: none;
  padding: 0;
}